body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #003366;
    color: white;
    padding: 20px;
}
.main {
    margin-top: 50px;
    padding: 20px;
}
button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #e6b800;
}
